.social_icons {
  position: fixed;

  bottom: 30px;
  right: 30px;
}

.social_icons a {
  text-decoration: none;
  color: $primary;
  text-shadow: 0 0 1px $primary;
  opacity: 0.5;
  transition: 0.3s;
  margin-right: 15px;
  &:hover {
    opacity: 1;
    text-shadow: 0 0 2px $primary;
  }
}
