///// zIndex
$sectionContentZIndex: 1;
$modalZIndex: 5;
$menuBtn: 2;
$menu: 6;
$modalBtnClose: 7;

///// color
$primary: white;
$claro: lighten($primary, 9.5%);
$obsucre: #031321;
$secondary: #255784;
